<div class="nav">
    <nav class="navbar navbar-light">
        <div class="nav-item active items" (click)="changeListing('all')">
            <a class="nav-link">
                <img src="assets/img/menu.svg" class="icon-nav">
            </a>
            <p class="cuisine">All</p>
        </div>
        <div class="nav-item items" (click)="changeListing('beverage')">
            <a class="nav-link">
                <img src="assets/img/coffee-hot-mug-hand-drawn-outline.svg" class="icon-nav">
            </a>
            <p class="cuisine">Beverage</p>
        </div>
        <div class="nav-item items" (click)="changeListing('chinese')">
            <a class="nav-link">
                <img src="assets/img/noodles.svg" class="icon-nav">
            </a>
            <p class="cuisine">Chinese</p>
        </div>
        <div class="nav-item items" (click)="changeListing('burgers')">
            <a class="nav-link">
                <img src="assets/img/burger.svg" class="icon-nav">
            </a>
            <p class="cuisine">Burger</p>
        </div>
        <div class="nav-item items" (click)="changeListing('salad')">
            <a class="nav-link">
                <img src="assets/img/salad.svg" class="icon-nav">
            </a>
            <p class="cuisine">Salad</p>
        </div>
        <div class="nav-item items" (click)="changeListing('pizza')">
            <a class="nav-link">
                <img src="assets/img/pizza.svg" class="icon-nav">
            </a>
            <p class="cuisine">Pizza</p>
        </div>
    </nav>
</div>